<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499556482481-eik2eu8tp01jde05c2bneg8uhmuiktbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499556482481-eik2eu8tp01jde05c2bneg8uhmuiktbh</string>
	<key>API_KEY</key>
	<string>AIzaSyAU00NAOOam1U01rrP0Tjrm_GyZaIcy6-w</string>
	<key>GCM_SENDER_ID</key>
	<string>499556482481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>inhatc.FillUpNow</string>
	<key>PROJECT_ID</key>
	<string>fillupnow-application-284e5</string>
	<key>STORAGE_BUCKET</key>
	<string>fillupnow-application-284e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499556482481:ios:1733f9ef1f3baba92e9190</string>
</dict>
</plist>